@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* -- Fuentes -- */
.letra-header { 
    font-family: 'Koulen', cursive !important;
    font-size:large;
}

.letra-main { 
    font-family: 'Koulen', cursive !important;
    font-size:large;
}

.letra-productos { 
    font-family: 'Koulen', cursive !important;
    font-size:xx-large;
}

.letra-despacho { 
    font-family: 'Koulen', cursive !important;
    color:#ff5470;
}

/* -- Colores -- */

/* Fondo header */
.header-color { 
    background-color: #ff5470!important;
}
 /*Links Header*/
.link-secondary {
    color: #29f0d2;
}
.link-secondary:focus, .link-secondary:hover, .link-dark:hover {
    color: #ffffff!important;
    transform: scale(1.1);
}
.carrito-color{ /* Boton carrito */
    background-color: #00ebc7!important;
    color: #00214d!important;
}
.link-dark{
    color: #00214d!important;
}
.carrito-notification{ /* Notificacion */
    background-color: #fde24f!important;
    color: #00214d!important;
}
.cuenta-down{ /* Flecha cuenta */
    color: #00214d!important;
}
.cuenta-down:hover{ /* cuando está activa */
    color: #ffffff!important;
}
/* Despacho Banner */
.despacho-notif{ /* Despacho */
    background-color: #fde24f!important;
}

.fondo-productos{ /* Despacho */
    background-color: #fffffe!important;
}
.fondo-paginas{
    background-color:#f2f4f6;
}

.footer-color{ /* Despacho */
    background-color: #00214d!important;
}

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.card-footer {
    padding: .5rem 1rem;
    background-color: #ff5470;
    border-top: 1px solid rgba(0,0,0,.125);
}
.color-tarjeta {
    background-color: #00ebc7!important;
    color: #ffffff;
}
.card-title{
    color: #ffffff;
}
.card-text{
    color: #00214d;
}   
.card-body{
    background-color: #ff5470!important;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fde24f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:-webkit-any-link {
    text-decoration: none!important;
}