{% include "./header.html" %}
<main>
{% load static %}

<style>
  .card-body{
    background-color: #ff5470!important;
  }
  </style>

<!--Productos-->
<section>
	<div class="text-center container py-5 fondo-productos">
	<div class="mt-4 mb-5 letra-productos"><u>Categorias de Articulos</u></div>
  <div class="">
    <div class="row row-cols-2">
				  {% for cat in categorias %}
				  <div class="card">
					  <img src={{cat.rutaFoto}} class="card-img-top zoom" alt="Imagen Categoria">
					  <div class="card-body">
						  <h5 class="card-title hover-underline-animation">{{cat.nombreCategoria}}</h5>
						  <p class="card-text">{{cat.detalleCategoria}}</p>
					  </div>
					  <div class="card-footer">
						  <button type="button" class="btn color-tarjeta me-2 letra-header" onclick="location.href='productos?categoria={{cat.idCategoria}}'"><img src="{% static 'core/img/icons/cart-plus.svg' %}" alt="Carrito"width="20px" height="20px"/> Buscar</i></button>
					  </div>
				  </div>
          {% endfor%}
			  </div>
		  </div>
	</div>
</section>

{% include "./footer.html" %}