{% include "./header.html" %}
{% load static %}
<main>
  <body class="text-center fondo-productos">
    
    <div class="container">
        <div class="py-5 text-center">
          <img src="{% static 'core/img/logoperro.png' %}" width="100" height="100">
          <h2>Carrito de compra</h2>
          <p class="lead">Estamos preparados para recibir tu pedido! Ingresa tus datos y elige tu metodo de pago preferido.</p>
        </div>
    
        <div class="row g-5">
          <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">Tu Carrito</span>
              <span class="badge bg-primary rounded-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0 text-start">ARNÉS Y CORREA</h6>
                  <small class="text-muted text-start">Arnés para gato/perro</small>
                </div>
                <span class="text-muted">$10.990</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0 text-start">Juguete Hueso</h6>
                  <small class="text-muted text-start">Masticable para perro</small>
                </div>
                <span class="text-muted">$5.590</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0 text-start">Despacho</h6>
                  <small class="text-muted text-start">Dentro de la region</small>
                </div>
                <span class="text-muted">$2.950</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (CLP$)</span>
                <strong>$19.530</strong>
              </li>
            </ul>
    
            <form class="card p-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Codigo Promocional">
                <button type="submit" class="btn btn-secondary">Canjear</button>
              </div>
            </form>
          </div>
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Dirección de envio</h4>
            <form class="needs-validation" novalidate>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Porfavor, ingrese su nombre.
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Porfavor, ingrese su apellido.
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="username" class="form-label">Usuario</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" id="username" placeholder="Usuario" required>
                  <div class="invalid-feedback">
                      Porfavor, ingrese un nombre de usuario.
                    </div>
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="tu@correo.com">
                  <div class="invalid-feedback">
                    Porfavor, ingrese un correo valido.
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="address" class="form-label">Direccion</label>
                  <input type="text" class="form-control" id="address" placeholder="Antonio Varas 666" required>
                  <div class="invalid-feedback">
                    Porfavor ingrese una Direccion.
                  </div>
                </div>
    
                <div class="col-md-5">
                  <label for="region" class="form-label">Region</label>
                  <select class="form-select" id="region" required>
                    <option value="">Selecciona tu region</option>
                  </select>
                  <div class="invalid-feedback">
                    Selecciona una ciudad valida.
                  </div>
                </div>
    
                <div class="col-md-4">
                  <label for="provincia" class="form-label">Provincia</label>
                  <select class="form-select" id="provincia" required>
                    <option value="">Selecciona tu Provincia</option>
                  </select>
                  <div class="invalid-feedback">
                    Selecciona una provincia valida.
                  </div>
                </div>
    
                <div class="col-md-3">
                  <label for="comuna" class="form-label">Comuna</label>
                  <select class="form-select" id="comuna" required>
                    <option value="">Selecciona tu Comuna</option>
                  </select>
                  <div class="invalid-feedback">
                    Selecciona una comuna valida.
                  </div>
                </div>
  
              <hr class="my-4">
    
              <h4 class="mb-3">Payment</h4>
    
              <div class="my-3">
                <div class="form-check">
                  <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                  <label class="form-check-label" for="credit">Tarjeta de Credito</label>
                </div>
                <div class="form-check">
                  <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                  <label class="form-check-label" for="debit">Tarjeta de Debito</label>
                </div>
              </div>
    
              <div class="row gy-3">
                <div class="col-md-6">
                  <label for="cc-name" class="form-label">Nombre en la tarjeta</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-muted">Nombre completo como sale en la tarjeta</small>
                  <div class="invalid-feedback">
                    Nombre de la tarjeta invalido
                  </div>
                </div>
    
                <div class="col-md-6">
                  <label for="cc-number" class="form-label">Numero de tarjeta</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="xxxx-xxxx-xxxx-xxxx" required>
                  <div class="invalid-feedback">
                    Numero de tarjeta invalido
                  </div>
                </div>
    
                <div class="col-md-3">
                  <label for="cc-expiration" class="form-label">Expira</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="xx/xx" required>
                  <div class="invalid-feedback">
                    Fecha de expiracion invalida
                  </div>
                </div>
    
                <div class="col-md-3">
                  <label for="cc-cvv" class="form-label">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="xxx" required>
                  <div class="invalid-feedback">
                    Codigo de seguridad invalido
                  </div>
                </div>
              </div>
    
              <hr class="my-4">
    
              <button type="button" class="w-100 btn btn-primary btn-lg" onclick="location.href='/fin-compra'">Comprar</button>
            </form>

            <div class="mb-5"></div>

          </div>
        </div>
      </div>
    </div>
    
    
        
      </body>
      {% include "./footer.html" %}

    <script src="js/bootstrap.bundle.min.js"></script>

    <script>
      $.get("https://apis.digital.gob.cl/dpa/regiones", function (data) {
          $.each(data, function (i, data) {
              $("#region").append("<option value='" + data.codigo + "'>" + data.nombre + "</option>");
          });
      });

      $("#region").change(function () {
          $()
          $("#provincia").empty();
          $.get("https://apis.digital.gob.cl/dpa/regiones/" + $("#region").val() + "/provincias", function (data) {
              $.each(data, function (i, data) {
                  $("#provincia").append("<option value='" + data.codigo + "'>" + data.nombre + "</option>");
              });
          });
      });

      $("#provincia").change(function () {
          $("#comuna").empty();
          $.get("https://apis.digital.gob.cl/dpa/provincias/" + $("#provincia").val() + "/comunas", function (data) {
              $.each(data, function (i, data) {
                  $("#comuna").append("<option value='" + data.codigo + "'>" + data.nombre + "</option>");
              });
          });
      });
  </script>

      
  </body>
</html>
