{% include "./header.html" %}
<main>
{% load static %}
<div class="row letra-header">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="table-responsive py-3">
            <table class="table">
                <tbody>
                    {% for p in datos.productos %}
                        <tr>
                            <td><img src="{{p.imgProducto}}" alt="" width="150px" height="150px"></td>
                            <td><h3>{{p.nombreProducto}} <br> ${{p.precioProducto}} </h3><br> {{p.microdetalleProducto}}</td>
                           
                            <td><a href="producto/{{p.idProducto}}" class="btn btn-info">Ver Producto</a></td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-1"></div>
</div>

{% include "./footer.html" %}