{% include "./header.html" %}
<main>
{% load static %}

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      
      <h1 class="display-4 fw-normal">Terminos y Condiciones</h1>
      <p class="lead fw-normal">1.- POLÍTICAS DE COMPRA: Tienda de Mascotas SPA.

        El usuario podrá comprar cuantas veces quiera los productos ofrecidos en nuestro sitio Web Tienda de Mascotas.
        
        También podrá contactarse directamente con alguno de nuestros ejecutivos a través de cualquiera de nuestros canales de venta (sitio Web, Facebook, Instagram, WhatsApp, email, teléfono, etc) para realizar sus compras.
        
        Toda compra realizada con nuestra compañía estará debidamente documentada y formalizada con la entrega de la factura o boleta correspondiente.
        
        Al aceptar la transacción el usuario conviene todas las condiciones anteriormente descritas y suscritas en este documento de Términos y Condiciones.
        
        2.- POLÍTICAS DE DEVOLUCIONES
        
        Para solicitar cambio o devolución de los productos adquiridos a través de este sitio Web u otros canales el cliente debe comunicarse con un representante de Tienda de Mascotas SpA, dentro de un plazo de 12 días. Los cambios o devoluciones de los productos deberán realizarse sólo dentro de los 12 días posteriores a la recepción de la compra, con la excepción de productos defectuosos de origen cuyas fallas se manifiesten posteriormente a los 12 días y dentro del período de garantía.
        
        Para realizar el cambio, además de lo anteriormente señalado, el cliente debe considerar:
        
        No aplica para Productos.
        El producto no puede haber sido usado.
        El producto debe tener sus embalajes originales y todos sus accesorios.
        *Los productos descritos como “compra anticipada internacional” NO pueden ser sujetos a devoluciones.
        
        3.- GARANTÍA
        
        Dentro de los 6 meses posteriores a la compra, todo producto está cubierto por una garantía legal y cubre daños o fallas de fabricación, las que deberán ser confirmados por Tienda de Mascotas antes de proceder a la devolución.
        
        La garantía no aplica ante el uso incorrecto de los productos.
        
        Adicionalmente, algunos de nuestros productos tienen garantía adicional que será notificada al cliente de antemano en la descripción de los productos.
        
        Por ejemplo, nuestros discos marca Lily Codroipo tienen una garantía de 3 años.
        
        4.- MEDIOS DE PAGO
        
        4.1.- PAGO ONLINE CON DESPACHO A DOMICILIO
        
        
        TARJETA DE CRÉDITO O DÉBITO
        
        Nuestro sitio esta afiliado a Transbank con el sistema Webpay Plus como medio de pago que vela por la seguridad en las compras con tarjetas de crédito.
        
        Si quiere conocer más sobre el servicio Webpay puede visitar https://www.transbank.cl
        
        Los aspectos relativos al funcionamiento de las tarjetas bancarias aceptadas en este sitio, están sujetos al contrato existente entre el cliente y la identidad emisora, sin que Tienda de Mascotas SpA tenga responsabilidad alguna en relación con los aspectos señalados en dichos contratos.
        
        4.2 OTROS MEDIOS DE PAGO SIN CONTACTO
        
        Consulta por otros medios, QR.
        
        4.3- CHEQUES
        
        No aceptamos Cheques.
        
        4.4 EFECTIVO
        
        No aceptamos Efectivo.
        
        5.- DESPACHOS
        
        Todas las compras serán despachadas lo más rápido posible dentro de días hábiles luego de la recepción del pago.
        
        Nuestros despachos son realizados por una flota digital , sin perjuicio que podrá utilizarse otro medio en caso que el comprador lo solicite.
        
        El precio del despacho se paga al realizar el pedido y corre por cuenta del comprador.
        
        6.- PRECIOS
        
        Los precios publicados en la página sólo incluyen el valor de los mismos, y no incluyen costos derivados por conceptos de despacho, medios de pago especiales o cualquier otro costo adicional distinto al valor del producto.
        
        7.- PRODUCTOS DEFECTUOSOS
        
        Para realizar cambios de productos adquiridos en Tienda de Mascotas que presenten falla certificada no imputable al consumidor (Ley 19.496, Art. 21), estos serán reemplazados mientras el cliente presente la boleta o factura correspondiente a la compra.
        
        No aplica a Productos*
        
        Los requisitos para realizar cambios en Tienda de Mascotas son:
        
        Solicitarlo dentro de los 3 meses contados desde la emisión del documento de compra.
        El producto debe encontrarse en buen estado, junto a su embalaje original y cualquier accesorio incluido con el mismo
        Se realizará un diagnóstico que confirmará la falla del producto, y si no es atribuible a un mal uso del mismo, se podrá hacer efectiva la garantía.
        USO DEL SITIO
        
        1.- PROPIEDAD INTELECTUAL
        
        Toda la información presentada en nuestro sitio es para uso exclusivo en el proceso de compra de nuestros productos y cualquier reproducción parcial o total de los contenidos del mismo está completamente prohibida sin el consentimiento escrito de Tienda de Mascotas SpA.
        
        Imagenes: todas las imágenes están protegidas por derechos de propiedad intelectual, cualquier uso indebido sera denunciado.
        
        2.- ERRORES TIPOGRÁFICOS
        
        En el caso que algún producto este publicado con un precio incorrecto producto de un error tipográfico, información errónea entregada por nuestros proveedores o cualquier otro motivo, Tienda de Mascotas se reserva el derecho de no aceptar pedidos y/o cancelar pedidos sobre los mismos, aún cuando el pago ya hubiese sido realizado.
        
        En este último caso, se procederá a la brevedad al reembolso del cliente por la totalidad del cargo.</p>
      
    </div>
  </div>
  </div>

    
  <!--Footer-->
  {% include "./footer.html" %}
</main>


    <script src="js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
